@using Resources
@model eKontabiliteti.Models.PerdoruesiInfoViewModel

<div class="row">
    <div class="col-md-4">
        <b>@Resource.EmriMbiemriPerdoruesi</b><br />
        @Html.DisplayFor(model => model.EmriMbiemri)
    </div>
    <div class="col-md-4">
        <b>@Resource.Email</b><br />
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="col-md-4">
        <b>@Resource.Gjinia</b><br />
        @Html.DisplayFor(model => model.Gjinia)
    </div>
    <div class="col-md-4">
        <b>@Resource.Telefoni</b><br />
        @Html.DisplayFor(model => model.Tel)
    </div>

    <div class="col-md-4">
        <b>@Resource.Useri</b><br />
        @Html.DisplayFor(model => model.Perdoruesi)
    </div>
    <div class="col-md-4">
        <b>@Resource.Aktiv</b><br />
        @Html.CheckBoxFor(model => model.Aktiv, new { @disabled = "disabled" })
    </div>
</div>
<hr class="colorgraph" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Resource.Roli</th>
            <th>@Resource.Aktiv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.roletLista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.RoliEmri)
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.Aktiv, new { @disabled = "disabled" })
                </td>
            </tr>
        }
    </tbody>
</table>


<style type="text/css">
    .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
</style>
